.header{
    width: 100vw;
    box-shadow: 0px 4px 40px rgba(0, 66, 218, 0.1);
    border-radius: 10px;
    background-color: #fff;
    height: 5.5rem;
    position: absolute;
    top: 2rem;
    left: 0;
    padding-left: 1rem;
}

.header,
.header__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__content{
    justify-content: space-around;
    width: 28.6rem;
}

.header__date{
    background-color: #E0DADB;
    color: #fff;
    font-size: .9rem;
    padding: .6rem;
    border-radius: 3px;
    font-weight: bold;
    width: 6rem;
}

.txt__header--title{
    font-size: 1.8rem;
    color: #7e7474;
    font-weight: 500;
    margin-left: 2rem;
}

.txt__header--greeting{
    color: #6C6C6C;
    font-weight: 700;
    font-size: 1.2rem;
}