.btn__main{
    height: 4.5rem;
    width: 28rem;
    border: 2px solid transparent;
    border-radius: 10px;
    background: #E0DADB;
    margin: 1rem;
    text-align: left;
    transition: all .4s;
}

.btn__main svg:first-child{
    position: relative;
    left: 2rem;
}

.btn__main:hover{
    cursor: pointer;
    background-color: #d2d3c9;
}

.btn__number-info{
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
    background-color: #495464;
    border-radius: 50%;
    height: 28px;
    width: 5rem;
    position: relative;
    text-align: center;
    margin: 0;
    top: -1rem;
    left: 7rem;
    padding: .5rem .7rem;
}

.txt__btn--main{
    display: inline;
    color: #6C6C6C;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 6rem;
}