html{
  font-size: 62,66%;
}

html,
body{
  height: 100vh;
  width: 100vw;
}

body {
  background-color: #fff;
  font-family: Roboto;
  max-height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100vw;
}